.right_item_type {
    height: 5vh;
    border: 1px solid gray;

}

.right_item_type > view {
    width: 9vw;
    height: 5vh;
    border: 1px solid white;
    display: inline-block;
    border-radius: 18px;
    text-align: center;
    line-height: 5vh;
}

.right_item_res {
    height: 10vw;
    overflow-x: scroll;
    overflow-y: visible;
    display: flex;
    overflow-scrolling: touch;
    webkit-overflow-scrolling: touch;

}
#head{
    opacity: 0;
}
.textBox1 {
    width: 76vw;
    height: 100%;
    /*margin-left: 0.5vw;*/
    transform-origin: center;
    color: black;
    padding-left: constant(safe-area-inset-left);
    padding-left: env(safe-area-inset-left);

}
.right_item_res > view {
    width: 14vw;
    height: 6vw;
    cursor: pointer;
    display: inline-block;
    margin: auto 0.5vw;
    -moz-box-shadow: 2px 2px 5px #333333;
    -webkit-box-shadow: 2px 2px 5px #333333;
    box-shadow: 2px 2px 5px #333333;
    border-radius: 1vw;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;


}

.item_res_style {
    width: 16.8vw;
    height: 7.2vw;
    margin-top: 1vw;
    border: 0.4vw solid white;
}

.right_item_dubbing {
    height: 8vh;
    border: 1px solid white;

}

.course_title {
    overflow-x: scroll;
    /*	width: 100vw;*/
    text-align: left;
    margin-left: 3vw;

}

.back {
    width: 6.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_item_dubbing > view {
    width: 10vw;
    height: 6vh;
    margin-top: 1vh;
    margin-left: 1vw;
    border: 1px solid white;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    line-height: 6vh;
}

.liststyle {
    background-color: blueviolet;
    color: white;
}

.FullScreen > view {
    width: 6vw;
    height: 6vw;
    line-height: 6vw;
    /*border: 1px solid #000;*/
}

.close {
position: fixed;
z-index: 10001;
bottom: 5px;
right: 5px;

}
.click-img{
    position: relative;
    display: inline-block;
    width: 4vw;
    margin-left: -4.5vw;
    top: -0.5vw;
    animation: bounceIn 1s 1 linear;

}
#playIcon{
    font-size: 3vw;
}
